$primary-color: #9834dbc8;
$second-color: #b678dfc8;
$third-color:#4b0c76c8;
$font-stack: 'Segoe UI', sans-serif;
$font-color: #ffffff;
$primary-border: solid 1px #000000a0;
$second-border:solid 1px #ffffffa0;
