$primary-color: #9834db;
$second-color: #b678df;
$third-color:#4b0c76;
$font-stack: 'Segoe UI', sans-serif;
$font-color: #ffffffcc;
$primary-border: solid 1px #000000a0;
$second-border:solid 1px #ffffffa0;
