@import './global';

form{
    max-width: 500px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;

    label{
        font-size: 20px;
    }

    textarea{
        resize: none;
        background-color: rgba(0, 0, 0, 0.502);
        font-family: $font-stack;
        font-size: 16px;
        color: white;
        border: $primary-border;
        border-radius: 20px;

        padding: 10px;
    }
}