@import './global.scss';

#div-NF{
    margin: 0;

    a{
            background-color: $second-color;
            border: $second-border;
            color:$font-color;
            padding: 10px;
            border-radius: 20px;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover{
                transition: all 0.3s ease-in-out;
                background-color: $third-color;
                color: $second-color;
                border: $primary-border;
            }
        }
    h1{
        padding: 0;
    }
}